a {
	color:white;
	text-decoration: none;
}

/**********************
		Hero Section
***********************/

.hero {
	min-height: 400px;
	background-color: red;
}

header {
	height: 150px;
	background-color: orange;
	text-align: center;
	position: relative;
}

.logo {
	position: absolute;
	top: 10px;
	left: 10px;
	font-size: 50px;
}

nav {
	position: absolute;
	top: 0;
	right: 0;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

nav > a {
	display: inline-block;
	padding: 10px;
	text-transform: uppercase;
}

.sub-header {
	height: 200px;
	background-color: green;
	text-align: center;
	margin: 0 auto;
}

/********************************
	Main Section				
*********************************/

main {
	background-color: blue;
	min-height: 500px;
}
/*******************
	index page     
*******************/
.game-links {
	text-align: center;
	margin: 0 auto;
}

.game-links a {
	font-size: 30px;
	display: block;
}

/*******************
	sign up page     
*******************/

.sign-up {
	text-align: center;
	margin: 0 auto;
}

.sign-up > input {
	margin-top: 20px;
	margin-bottom: 20px;
}


/*******************
	profile page     
*******************/

.profile {
	background-color: purple;
	position: relative;
}

.update-section {
	background-color: grey;
	width: 960px;
	margin: 0 auto;
}

.user-details {
	background-color: gold;
	float: left;
	min-height: 100px;
	width: 100px;
	overflow: hidden;
}


/*******************
	sign in page     
*******************/

.sign-in {
	text-align: center;
	margin: 0 auto;
}

.sign-in > input {
	margin-top: 20px;
	margin-bottom: 20px;
}

/*******************
	Create a game page     
*******************/

.game-create {
	text-align: center;
}

.game-create > select {
	margin-top: 40px;
	margin-bottom: 70px;
}

/*******************
	Game Details page     
*******************/
.game-details {
	text-align: center;
	border: 5px solid black;
	
}

.game-details > p {
	margin-top: 10px;
	font-size: 20px;
}

.game-components {
	text-align: center;
	margin-top: 50px;
}