/**********************
		Hero Section
***********************/

.hero {
	min-height: 400px;
	background-color: red;
}

header {
	height: 150px;
	background-color: orange;
	text-align: center;
	position: relative;
}

.logo {
	position: absolute;
	top: 10px;
	left: 10px;
	font-size: 50px;
}

nav {
	position: absolute;
	top: 0;
	right: 0;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

nav > a {
	display: inline-block;
	padding: 10px;
	text-transform: uppercase;
}

.sub-header {
	height: 200px;
	background-color: green;
	text-align: center;
	margin: 0 auto;
}

/********************************
	Main Section				*
*********************************/

main {
	background-color: blue;
	min-height: 500px;
}
/*******************
	index page     *
*******************/
.game-links {
	text-align: center;
	margin: 0 auto;
}

/*******************
	sign up page     *
*******************/

.sign-up {
	text-align: center;
	margin: 0 auto;
}

/*******************
	profile page     *
*******************/

.update-section